# backend
fastapi
uvicorn
python-dotenv
# db
sqlalchemy
psycopg2
# authentication
python-multipart
python-jose[cryptography]
passlib[bcrypt]

alembic # migrations
firebase-admin # notifications